# SPDX-FileCopyrightText: 2022 EfficiOS Inc.
#
# SPDX-License-Identifier: MIT

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/src/librseq.pc
/tests/basic_percpu_ops_test.tap
/tests/basic_percpu_ops_test_cxx.tap
/tests/basic_test.tap
/tests/basic_test_cxx.tap
/tests/param_test
/tests/param_test_cxx
/tests/param_test_benchmark
/tests/param_test_benchmark_cxx
/tests/param_test_compare_twice
/tests/param_test_compare_twice_cxx

#automake
/include/config.h
.deps/
.libs/
Makefile.in
Makefile
*.la
*.bz2
*.o
*.lo
*.loT
*.log
*.trs
/config.log
/configure
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/test-driver
/aclocal.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/libtool
/include/stamp-h1
/include/config.h.in
/include/config.h.in~
/config.status
/autom4te.cache/
/config
